aside{
  width: 220px;
  min-height: 100vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.406);
}

.app-component{
  display: flex;
}

.sidebar-title-container{
  background-image: linear-gradient(90deg, #FFB354, #EE7A3A);
  color: #ffff;
  text-align: center;
  width: 100%;
  height: 68px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-list-item {
  border-bottom: solid 1px gray;
  padding: 7px 1.5rem;
  color: #725c5c;
  cursor: pointer;
}

.nav-list-item:hover {
  background-color: #cccccc;
  transition: 0.3s;
}

header {
  width: 100%;
  background-color: #fdf1eb;
  display: flex;
  align-items: center;
  padding: 0px 36px;
  height: 85px;
  justify-content: space-between;
}

.header-title {
  display: flex;
  flex-direction: column;
}

.header-options {
  display: flex;
  align-items: center;
  gap: 35px;
}

.content {
  width: 100%;
}

.select-container {
  width: 97px;
  height: 34px;
  display: flex;
  align-items: center;
  border: solid 1px #cccccc;
  padding: 0.5rem;
}

.icon{
  width: 15px;
}

.select-container select {
  border: none;
  outline: none;
  background-color: transparent;
}

.header-user-menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 100%;
  gap: 5px;
}
.user-label {
  text-align: end;
}

.user-label:nth-child(1) {
  font-size: 14px;
  color: #333333;
}

.user-email {
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}

.user-avatar {
  position: relative;
}

.user-avatar img {
  width: 40px;
  border-radius: 50%;
}

.user-notification {
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10%;
  left: 60%;
  color: #ffff;
}
main {
  padding: 30px 45px;
}

#main-content-section{
    width: 100%;
    display: flex;
}

#main-content-section h2{
    color: #ee7a3a;
    font-size: 20px;
}

.main-content-title-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
    display: none;
    visibility: hidden;
  }
}

#required-elements {
  h3 {
    margin-top: 15px;
  }
  h2, a {
    font-size: 12px;
  }
}