<div class="app-component">
  <aside>
    <div class="sidebar-title-container">
      <h1>SLACA 2019</h1>
    </div>
    <div class="sidebar-img-container">
            <img src="../assets/dewey 4deway.png" alt="" />
    </div>
    <div>
      <nav class="nav-bar">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a>Apresentação</a>
          </li>
          <li class="nav-list-item">
            <a>Comitês</a>
          </li>
          <li class="nav-list-item">
            <a>Autores</a>
          </li>
          <li class="nav-list-item">
            <a>Eixos temáticos</a>
          </li>
          <li class="nav-list-item">
            <a>Trabalhos</a>
          </li>
          <li class="nav-list-item">
            <a>Contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content">   
    <header>
      <div class="header-title">
                <p>
                    Anais do Simpósio Latino Americano de Ciências de Alimentos
                </p>
                <h2>
                    Anais do 13º Simpósio Latino Americano de Ciência de
                    Alimentos
                </h2>
        <p>ISSN: 1234-5678</p>
      </div>
      <div class="header-options">
        <div>
          <div class="select-container">
                        <img src="../assets/world-svgrepo-com.svg" alt="icon" />
            <select name="" id="">
              <option value="">PT, BR</option>
            </select>
          </div>
        </div>
        <div class="header-user-menu">
          <div class="user-label">
            <p>Bem vindo!</p>
                        <p class="user-email">alguem12@galoascience.com</p>
          </div>
          <div class="user-avatar">
                        <img src="../assets/unknown-user.jpg" alt="" />
            <span class="user-notification">2</span>
          </div>
        </div>

      </div>
  </header>
                    <h2>
                        Análise sensorial de preparações funcionais
                        desenvolvidas para escolares entre 09 e 15 anos, do
                        município de Campinas/SP
                    </h2>
                    <div class="video-container">
                        <video width="1100" height="630" controls>
                            <source
                                src="../assets/waves.mp4"
                                type="video/mp4"
                            />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                        <button class="button-sm">
                            <img
                                src="../assets/download.svg"
                                alt=""
                                class="icon"
                            />
                            Download
                        </button>
                        <button class="button-sm">
                            <img src="../assets/favoritar.svg" alt="" />
                        </button>
                        <button class="button-sm">
                            <img src="../assets/doi.svg" alt="" />
                        </button>
                    <p class="video-label-title">COMO CITAR ESSE TRABALHO?</p>
                    <div class="details-container">
                        <div class="details-title">
                            <h3>Detalhes</h3>
                        </div>
                        <div class="details-content">
                            <p>
                                Tipo de Apresentação: <b>Pôster</b>
                                <br />
                                Eixo temático: <b>Alimentação e saúde (AS)</b>
                                <br />

                                Palavras-chaves:
                                <b
                                    >Alimentos funcionais, alimentação
                                    escolar.</b
                                >

                                <br /><br /><br />

                                <b>Autores:</b> <br />
                                Galileo Galilei¹ <br />
                                Berta Lange de Morretes²<br />
                                Isaac Newton³ <br />
                                Cesar Lattes¹ <br />
                                Stephen Hawking⁴ <br />

                                <br /><br /><br />

                                <span>
                                    ¹Universidade Estadual de Campinas
                                    ²Universidade de São Paulo ³Instituto
                                    Nacional de Pesquisas Espaciais
                                    ⁴Universidade Federal do Rio de Janeiro
                                </span>

                                <br /><br /><br /><br /><br /><br />

                                Tipo de Apresentação: <b>Pôster</b>
                                <br />
                                Eixo temático: <b>Alimentação e saúde (AS)</b>
                                <br />

                                Palavras-chaves:
                                <b
                                    >Alimentos funcionais, alimentação
                                    escolar.</b
                                >

                                <br /><br /><br />

                                <b>Autores:</b> <br />
                                Galileo Galilei¹ <br />
                                Berta Lange de Morretes²<br />
                                Isaac Newton³ <br />
                                Cesar Lattes¹ <br />
                                Stephen Hawking⁴ <br />

                                <br /><br /><br />

                                <span>
                                    ¹Universidade Estadual de Campinas
                                    ²Universidade de São Paulo ³Instituto
                                    Nacional de Pesquisas Espaciais
                                    ⁴Universidade Federal do Rio de Janeiro
                                </span>
                            </p>
                        </div>
                    </div>
            <section class="topic" id="resume-topic">
                <div class="topic-title-container">
                    <h2>Resumo</h2>
                </div>
                <div
                    class="topic-content show-less"
                    id="resume-topic-content"
                    [ngClass]="{ 'show-less': !seeMore }"
                >
                    <p
                        class="topic-content-paragraph show-less"
                        #topicContentParagraph
                        [ngClass]="{ 'show-less': !seeMore }"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus vitae turpis auctor, mollis felis ut, commodo
                        turpis. Phasellus felis mauris, egestas eget cursus et,
                        iaculis quis lacus. Fusce auctor eros sed magna
                        ultricies gravida. Etiam aliquam dictum nisl, vel
                        aliquet enim accumsan sit amet. Donec finibus nisi
                        tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam
                        aliquam dictum nisl, vel aliquet enim accumsan sit ametl
                        accumsant. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut commodo turpis . <span>...</span
                        ><button
                            class="btn-show-more"
                            (click)="viewMore()"
                            [ngClass]="{ visible: !seeMore, hidden: seeMore }"
                        >
                            ver mais
                        </button>
                    </p>

                    <br /><br />
                    <p
                        [ngClass]="{ visible: seeMore, hidden: !seeMore }"
                        (click)="showLess()"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus vitae turpis auctor, mollis felis ut, commodo
                        turpis. Phasellus felis mauris, egestas eget cursus et,
                        iaculis quis lacus. Fusce auctor eros sed magna
                        ultricies gravida. Etiam aliquam dictum nisl, vel
                        aliquet enim accumsan sit amet. Donec finibus nisi
                        tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam
                        aliquam dictum nisl, vel aliquet enim accumsan sit ametl
                        accumsant. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut commodo turpis . Phasellus felis mauris,
                        egestas eget cursus et, iaculis quis lacus. Fusce auctor
                        eros sed magna ultricies gravida. Etiam aliquam dictum
                        nisl, vel aliquet enim accumsan sit amet. Donec finibus
                        nisi tellus

                        <br /><br />

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus vitae turpis auctor, mollis felis ut, commodo
                        turpis. Phasellus felis mauris, egestas eget cursus et,
                        iaculis quis lacus. Fusce auctor eros sed magna
                        ultricies gravida. Etiam aliquam dictum nisl, vel
                        aliquet enim accumsan sit amet. Donec finibus nisi
                        tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam
                        aliquam dictum nisl, vel aliquet enim accumsan sit ametl
                        accumsant. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut commodo turpis . Phasellus felis mauris,
                        egestas eget cursus et, iaculis quis lacus. Fusce auctor
                        eros sed magna ultricies gravida. Etiam aliquam dictum
                        nisl, vel aliquet enim accumsan sit amet. Donec finibus
                        nisi tellus

                        <br /><br />

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus vitae turpis auctor, mollis felis ut, commodo
                        turpis. Phasellus felis mauris, egestas eget cursus et,
                        iaculis quis lacus. Fusce auctor eros sed magna
                        ultricies gravida. Etiam aliquam dictum nisl, vel
                        aliquet enim accumsan sit amet. Donec finibus nisi
                        tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam
                        aliquam dictum nisl, vel aliquet enim accumsan sit ametl
                        accumsant. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut commodo turpis . Phasellus felis mauris,
                        egestas eget cursus et, iaculis quis lacus. Fusce auctor
                        eros sed magna ultricies gravida. Etiam aliquam dictum
                        nisl, vel aliquet enim accumsan sit amet. Donec finibus
                        nisi tellus
                    </p>
  </div>
            </section>
                <div class="topic-title-container">
                    <h2>Discussões</h2>
                        <h3 class="discussion-content-title">
                            Compartilhe suas ideias ou dúvidas com os autores!
                        </h3>
                        <div class="discussion-icon-container">
                            <img src="../assets/icone1.png" alt="" />
                            <img src="../assets/icone2.png" alt="" />
                            <img src="../assets/icone3.png" alt="" />
                        <p class="discussion-paragraph">
                            Sabia que o maior estímulo no desenvolvimento
                            científico e cultural é a curiosidade? Deixe seus
                            questionamentos ou sugestões para o autor!
                        </p>
                        <div class="create-topic-btn-container">
                            <hr />
                            <button
                                type="button"
                                class="btn-create-topic"
                                (click)="createNewTopic()">
                                <img src="../assets/icon - criar.png" alt="" />criar tópico</button>
                        </div>
                        </div>
                        <p class="create-topic-title">
                            Tem uma dúvida ou sugestão? Compartilhe seu feedback
                            com os autores!
                        </p>
                        <form action="" onsubmit="" class="create-topic-form">
                            <div class="form-section">
                                <label for="">Assunto</label>
                                <input
                                class="subject"
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Defina um tópico sucinto para notificar os autores..."
                                />
                            </div>
                            <div class="form-section">
                                <label for="">Conteúdo</label>
                                <textarea name="" id=""></textarea>
                            </div>
                            <div class="submit-container">
                                <button
                                    type="submit"
                                    (click)="
                                        handleTopicSubmit();
                                        $event.preventDefault()
                                    "
                                >
                                    Enviar
                                </button>
                            </div>
                        </form>
                        <h3 class="discussion-content-title">
                            Seu tópico foi enviado com sucesso! :D
                        </h3>
                </div>
</div>