<div class="app-component">
  <aside>
    <div class="sidebar-title-container">
      <h1>SLACA 2019</h1>
    </div>
    <div class="sidebar-img-container">
            <img src="../assets/dewey 4deway.png" alt="" />
    </div>
    <div>
      <nav class="nav-bar">
        <ul class="nav-list">
          <li class="nav-list-item">
            <a>Apresentação</a>
          </li>
          <li class="nav-list-item">
            <a>Comitês</a>
          </li>
          <li class="nav-list-item">
            <a>Autores</a>
          </li>
          <li class="nav-list-item">
            <a>Eixos temáticos</a>
          </li>
          <li class="nav-list-item">
            <a>Trabalhos</a>
          </li>
          <li class="nav-list-item">
            <a>Contato</a>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div class="content">   
    <header>
      <div class="header-title">
                <p>
                    Anais do Simpósio Latino Americano de Ciências de Alimentos
                </p>
                <h2>
                    Anais do 13º Simpósio Latino Americano de Ciência de
                    Alimentos
                </h2>
        <p>ISSN: 1234-5678</p>
      </div>
      <div class="header-options">
        <div>
          <div class="select-container">
                        <img src="../assets/world-svgrepo-com.svg" alt="icon" />
            <select name="" id="">
              <option value="">PT, BR</option>
            </select>
          </div>
        </div>
        <div class="header-user-menu">
          <div class="user-label">
            <p>Bem vindo!</p>
                        <p class="user-email">alguem12@galoascience.com</p>
          </div>
          <div class="user-avatar">
                        <img src="../assets/unknown-user.jpg" alt="" />
            <span class="user-notification">2</span>
          </div>
        </div>

      </div>
  </header>
                    <h2>
                        Análise sensorial de preparações funcionais
                        desenvolvidas para escolares entre 09 e 15 anos, do
                        município de Campinas/SP
                    </h2>
                    <div class="video-container">
                        <video width="1100" height="630" controls>
                            <source
                                src="../assets/waves.mp4"
                                type="video/mp4"
                            />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                        <button class="button-sm">
                            <img
                                src="../assets/download.svg"
                                alt=""
                                class="icon"
                            />
                            Download
                        </button>
                        <button class="button-sm">
                            <img src="../assets/favoritar.svg" alt="" />
                        </button>
                        <button class="button-sm">
                            <img src="../assets/doi.svg" alt="" />
                        </button>
                    <p class="video-label-title">COMO CITAR ESSE TRABALHO?</p>
                    <div class="details-container">
                        <div class="details-title">
                            <h3>Detalhes</h3>
                        </div>
                        <div class="details-content">
                            <p>
                                Tipo de Apresentação: <b>Pôster</b>
                                <br />
                                Eixo temático: <b>Alimentação e saúde (AS)</b>
                                <br />

                                Palavras-chaves:
                                <b
                                    >Alimentos funcionais, alimentação
                                    escolar.</b
                                >

                                <br /><br /><br />

                                <b>Autores:</b> <br />
                                Galileo Galilei¹ <br />
                                Berta Lange de Morretes²<br />
                                Isaac Newton³ <br />
                                Cesar Lattes¹ <br />
                                Stephen Hawking⁴ <br />

                                <br /><br /><br />

                                <span>
                                    ¹Universidade Estadual de Campinas
                                    ²Universidade de São Paulo ³Instituto
                                    Nacional de Pesquisas Espaciais
                                    ⁴Universidade Federal do Rio de Janeiro
                                </span>

                                <br /><br /><br /><br /><br /><br />

                                Tipo de Apresentação: <b>Pôster</b>
                                <br />
                                Eixo temático: <b>Alimentação e saúde (AS)</b>
                                <br />

                                Palavras-chaves:
                                <b
                                    >Alimentos funcionais, alimentação
                                    escolar.</b
                                >

                                <br /><br /><br />

                                <b>Autores:</b> <br />
                                Galileo Galilei¹ <br />
                                Berta Lange de Morretes²<br />
                                Isaac Newton³ <br />
                                Cesar Lattes¹ <br />
                                Stephen Hawking⁴ <br />

                                <br /><br /><br />

                                <span>
                                    ¹Universidade Estadual de Campinas
                                    ²Universidade de São Paulo ³Instituto
                                    Nacional de Pesquisas Espaciais
                                    ⁴Universidade Federal do Rio de Janeiro
                                </span>
                            </p>
                        </div>
                    </div>

  </div>

</div>