aside{
  width: 220px;
  min-height: 100vh;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.406);
}

.app-component{
  display: flex;
}

.sidebar-title-container{
  background-image: linear-gradient(90deg, #FFB354, #EE7A3A);
  color: #ffff;
  text-align: center;
  width: 100%;
  height: 68px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-direction: column;
}

.nav-list-item {
  border-bottom: solid 1px gray;
  padding: 7px 1.5rem;
  color: #725c5c;
  cursor: pointer;
}

.nav-list-item:hover {
  background-color: #cccccc;
  transition: 0.3s;
}

header {
  width: 100%;
  background-color: #fdf1eb;
  display: flex;
  align-items: center;
  padding: 0px 36px;
  height: 85px;
  justify-content: space-between;
}

.header-title {
  display: flex;
  flex-direction: column;
}

.header-options {
  display: flex;
  align-items: center;
  gap: 35px;
}

.content {
  width: 100%;
}

.select-container {
  width: 97px;
  height: 34px;
  display: flex;
  align-items: center;
  border: solid 1px #cccccc;
  padding: 0.5rem;
}

.icon{
  width: 15px;
}

.select-container select {
  border: none;
  outline: none;
  background-color: transparent;
}

.header-user-menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 100%;
  gap: 5px;
}
.user-label {
  text-align: end;
}

.user-label:nth-child(1) {
  font-size: 14px;
  color: #333333;
}

.user-email {
  font-size: 12px;
  color: #333333;
  font-weight: 400;
}

.user-avatar {
  position: relative;
}

.user-avatar img {
  width: 40px;
  border-radius: 50%;
}

.user-notification {
  width: 15px;
  height: 15px;
  background-color: #ff0000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -10%;
  left: 60%;
  color: #ffff;
}
main {
  padding: 30px 45px;
}

#main-content-section{
    width: 100%;
    display: flex;
}

#main-content-section h2{
    color: #ee7a3a;
    font-size: 20px;
}

.main-content-title-container{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.buttons-container{
    justify-content: end;
    display: flex;
    gap: 5px;
}
.button-sm{
    background-color: #ee7a3a;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border: none;
    outline: none;
    border-radius: 5px;
}
.video-container{
    position: relative;
}

.video-label-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}

.video-label-title{
    color: #ED7839;
    font-size: 14px;
}
.details-container{
    width: 80%;
    height: 100%;
    border: 1px solid #3333;
    border-radius: 5px;
}
.details-title{
    background-color: #FDF1EB;
    padding: .5rem .8rem;
    border-bottom: 1px solid #3333;
}
.details-content{
    padding: .5rem;
    font-size: 12px;
}
.details-content p{
    max-height: 550px;
    font-size: 18px;
    padding: 15px;
    overflow-y: scroll;
}
.details-container span{
    color: #808080;
}

.topic{
    border: 1px solid #3333;
    width: 100%;
    margin-top: 50px;
}
.topic-title-container{
    background-color: #FDF1EB;
    padding: .3rem .5rem;
    border-bottom: 1px solid #3333;
}
.topic-content{
    padding: 1rem;
}

.video-override{
    z-index: 2;
    visibility: visible;
    width: 100%;
    height: 100%;
    position: absolute;
}
.video-override:hover{
    display: none;
}
.video-title{
    visibility: visible;
    top: 25%;
    color: white;
}
.video-title:hover{
    visibility: hidden;
}
.discussion-content-title{
    text-align: center;
    color: #ED7839;
}
.discussion-icon-container{
    display: flex;
    justify-content: center;
    gap: 50px;
}
#discussion-content{
    padding: 15px 25px;
}
.discussion-paragraph{
    text-align: center;
    width: 55%;
}
.btn-create-topic{
    background-image: linear-gradient(180deg, #ffb354, #ee7a3a);
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .6rem 1.8rem;
    border: none;
    outline: none;
    border-radius: 5px;
    gap: 10px;
    position: absolute;
    top: -35%;
    cursor: pointer;
    font-weight: bolder;
    font-size: 18px;
}
.btn-show-more{
    color: #ee7a3a;
    cursor: pointer;
    padding: .5rem;
    display: inline;
}
.visible{
    visibility: visible;
}

.hidden{
    visibility: hidden;
  }
#resume-topic-content{
    overflow: hidden;
    position: relative;
}

    margin-top: 15px;
  }
  h2, a {
    font-size: 12px;
  }
}