<div class="app-component">
    <aside>
        <div class="sidebar-title-container">
            <h1>SLACA 2019</h1>
        </div>
        <div class="sidebar-img-container">
            <img src="../assets/dewey 4deway.png" alt="" />
        </div>
        <div>
            <nav class="nav-bar">
                <ul class="nav-list">
                    <li class="nav-list-item" (click)="onClick($event)">
                        <a>Apresentação</a>
                    </li>
                    <li class="nav-list-item">
                        <a>Comitês</a>
                    </li>
                    <li class="nav-list-item">
                        <a>Autores</a>
                    </li>
                    <li class="nav-list-item">
                        <a>Eixos temáticos</a>
                    </li>
                    <li class="nav-list-item">
                        <a>Trabalhos</a>
                    </li>
                    <li class="nav-list-item">
                        <a>Contato</a>
                    </li>
                </ul>
            </nav>
        </div>
    </aside>
    <div class="content">
        <header>
            <div class="header-title">
                <p>
                    Anais do Simpósio Latino Americano de Ciências de Alimentos
                </p>
                <h2>
                    Anais do 13º Simpósio Latino Americano de Ciência de
                    Alimentos
                </h2>
                <p>ISSN: 1234-5678</p>
            </div>
            <div class="header-options">
                <div>
                    <div class="select-container">
                        <img src="../assets/world-svgrepo-com.svg" alt="icon" />
                        <select name="" id="">
                            <option value="">PT, BR</option>
                        </select>
                    </div>
                </div>
                <div class="header-user-menu">
                    <div class="user-label">
                        <p>Bem vindo!</p>
                        <p class="user-email">alguem12@galoascience.com</p>
                    </div>
                    <div class="user-avatar">
                        <img src="../assets/unknown-user.jpg" alt="" />
                        <span class="user-notification">2</span>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <section id="main-content-section">
                <div class="main-content-title-container">
                    <h2>
                        Análise sensorial de preparações funcionais
                        desenvolvidas para escolares entre 09 e 15 anos, do
                        município de Campinas/SP
                    </h2>
                    <div class="video-container">
                        <video width="1100" height="630" controls>
                            <source
                                src="../assets/waves.mp4"
                                type="video/mp4"
                            />
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
                <div class="video-label-container">
                    <div class="buttons-container">
                        <button class="button-sm">
                            <img
                                src="../assets/download.svg"
                                alt=""
                                class="icon"
                            />
                            Download
                        </button>
                        <button class="button-sm">
                            <img src="../assets/favoritar.svg" alt="" />
                        </button>
                        <button class="button-sm">
                            <img src="../assets/doi.svg" alt="" />
                        </button>
                    </div>
                    <p class="video-label-title">COMO CITAR ESSE TRABALHO?</p>
                    <div class="details-container">
                        <div class="details-title">
                            <h3>Detalhes</h3>
                        </div>
                        <div class="details-content">
                            <p>
                                Tipo de Apresentação: <b>Pôster</b>
                                <br />
                                Eixo temático: <b>Alimentação e saúde (AS)</b>
                                <br />

                                Palavras-chaves:
                                <b
                                    >Alimentos funcionais, alimentação
                                    escolar.</b
                                >

                                <br /><br /><br />

                                <b>Autores:</b> <br />
                                Galileo Galilei¹ <br />
                                Berta Lange de Morretes²<br />
                                Isaac Newton³ <br />
                                Cesar Lattes¹ <br />
                                Stephen Hawking⁴ <br />

                                <br /><br /><br />

                                <span>
                                    ¹Universidade Estadual de Campinas
                                    ²Universidade de São Paulo ³Instituto
                                    Nacional de Pesquisas Espaciais
                                    ⁴Universidade Federal do Rio de Janeiro
                                </span>

                                <br /><br /><br /><br /><br /><br />

                                Tipo de Apresentação: <b>Pôster</b>
                                <br />
                                Eixo temático: <b>Alimentação e saúde (AS)</b>
                                <br />

                                Palavras-chaves:
                                <b
                                    >Alimentos funcionais, alimentação
                                    escolar.</b
                                >

                                <br /><br /><br />

                                <b>Autores:</b> <br />
                                Galileo Galilei¹ <br />
                                Berta Lange de Morretes²<br />
                                Isaac Newton³ <br />
                                Cesar Lattes¹ <br />
                                Stephen Hawking⁴ <br />

                                <br /><br /><br />

                                <span>
                                    ¹Universidade Estadual de Campinas
                                    ²Universidade de São Paulo ³Instituto
                                    Nacional de Pesquisas Espaciais
                                    ⁴Universidade Federal do Rio de Janeiro
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="topic" id="resume-topic">
                <div class="topic-title-container">
                    <h2>Resumo</h2>
                </div>
                <div
                    class="topic-content show-less"
                    id="resume-topic-content"
                    [ngClass]="{ 'show-less': !seeMore }"
                >
                    <p
                        class="topic-content-paragraph show-less"
                        #topicContentParagraph
                        [ngClass]="{ 'show-less': !seeMore }"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus vitae turpis auctor, mollis felis ut, commodo
                        turpis. Phasellus felis mauris, egestas eget cursus et,
                        iaculis quis lacus. Fusce auctor eros sed magna
                        ultricies gravida. Etiam aliquam dictum nisl, vel
                        aliquet enim accumsan sit amet. Donec finibus nisi
                        tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam
                        aliquam dictum nisl, vel aliquet enim accumsan sit ametl
                        accumsant. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut commodo turpis . <span>...</span
                        ><button
                            class="btn-show-more"
                            (click)="viewMore()"
                            [ngClass]="{ visible: !seeMore, hidden: seeMore }"
                        >
                            ver mais
                        </button>
                    </p>

                    <br /><br />
                    <p
                        [ngClass]="{ visible: seeMore, hidden: !seeMore }"
                        (click)="showLess()"
                    >
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus vitae turpis auctor, mollis felis ut, commodo
                        turpis. Phasellus felis mauris, egestas eget cursus et,
                        iaculis quis lacus. Fusce auctor eros sed magna
                        ultricies gravida. Etiam aliquam dictum nisl, vel
                        aliquet enim accumsan sit amet. Donec finibus nisi
                        tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam
                        aliquam dictum nisl, vel aliquet enim accumsan sit ametl
                        accumsant. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut commodo turpis . Phasellus felis mauris,
                        egestas eget cursus et, iaculis quis lacus. Fusce auctor
                        eros sed magna ultricies gravida. Etiam aliquam dictum
                        nisl, vel aliquet enim accumsan sit amet. Donec finibus
                        nisi tellus

                        <br /><br />

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus vitae turpis auctor, mollis felis ut, commodo
                        turpis. Phasellus felis mauris, egestas eget cursus et,
                        iaculis quis lacus. Fusce auctor eros sed magna
                        ultricies gravida. Etiam aliquam dictum nisl, vel
                        aliquet enim accumsan sit amet. Donec finibus nisi
                        tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam
                        aliquam dictum nisl, vel aliquet enim accumsan sit ametl
                        accumsant. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut commodo turpis . Phasellus felis mauris,
                        egestas eget cursus et, iaculis quis lacus. Fusce auctor
                        eros sed magna ultricies gravida. Etiam aliquam dictum
                        nisl, vel aliquet enim accumsan sit amet. Donec finibus
                        nisi tellus

                        <br /><br />

                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus vitae turpis auctor, mollis felis ut, commodo
                        turpis. Phasellus felis mauris, egestas eget cursus et,
                        iaculis quis lacus. Fusce auctor eros sed magna
                        ultricies gravida. Etiam aliquam dictum nisl, vel
                        aliquet enim accumsan sit amet. Donec finibus nisi
                        tellus, ut viverra lorem vestibulum ut. Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum Phasellus
                        condimentum orci id leo condimentum lobortis et non
                        lorem. Sed id nisl metus. Quisque sollicitudin ligula in
                        sapien scelerisque, ac gravida eros vestibulum. Etiam
                        aliquam dictum nisl, vel aliquet enim accumsan sit ametl
                        accumsant. Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit. Phasellus vitae turpis auctor, mollis
                        felis ut commodo turpis . Phasellus felis mauris,
                        egestas eget cursus et, iaculis quis lacus. Fusce auctor
                        eros sed magna ultricies gravida. Etiam aliquam dictum
                        nisl, vel aliquet enim accumsan sit amet. Donec finibus
                        nisi tellus
                    </p>
                </div>
            </section>
            <section id="discussion" class="topic">
                <div class="topic-title-container">
                    <h2>Discussões</h2>
                </div>
                <div class="topic-content" id="discussion-content">
                    <div
                        class="discussion-content-label"
                        *ngIf="stage === topicStage.label"
                    >
                        <h3 class="discussion-content-title">
                            Compartilhe suas ideias ou dúvidas com os autores!
                        </h3>

                        <div class="discussion-icon-container">
                            <img src="../assets/icone1.png" alt="" />
                            <img src="../assets/icone2.png" alt="" />
                            <img src="../assets/icone3.png" alt="" />
                        </div>

                        <p class="discussion-paragraph">
                            Sabia que o maior estímulo no desenvolvimento
                            científico e cultural é a curiosidade? Deixe seus
                            questionamentos ou sugestões para o autor!
                        </p>

                        <div class="create-topic-btn-container">
                            <hr />
                            <button
                                type="button"
                                class="btn-create-topic"
                                (click)="createNewTopic()"
                            >
                                <img
                                    src="../assets/icon - criar.png"
                                    alt=""
                                />criar tópico
                            </button>
                        </div>
                    </div>
                    <div
                        class="create-topic"
                        *ngIf="stage === topicStage.create"
                    >
                        <p class="create-topic-title">
                            Tem uma dúvida ou sugestão? Compartilhe seu feedback
                            com os autores!
                        </p>

                        <form action="" onsubmit="" class="create-topic-form">
                            <div class="form-section">
                                <label for="">Assunto</label>
                                <input
                                class="subject"
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Defina um tópico sucinto para notificar os autores..."
                                />
                            </div>
                            <div class="form-section">
                                <label for="">Conteúdo</label>
                                <textarea name="" id=""></textarea>
                            </div>
                            <div class="submit-container">
                                <button
                                class="btn-submit-form"
                                    type="submit"
                                    (click)="
                                        handleTopicSubmit();
                                        $event.preventDefault()
                                    "
                                >
                                    Enviar
                                </button>
                            </div>
                        </form>
                    </div>
                    <div
                        class="discussion-content-label"
                        *ngIf="stage === topicStage.created"
                    >
                        <h3 class="discussion-content-title">
                            Seu tópico foi enviado com sucesso! :D
                        </h3>

                        <p>
                            Agradecemos por sua contribuição, uma notificação
                            será enviada ao seu email assim que seu tópico for
                            respondido!
                        </p>

                        <a href="">Descubra outros trabalhos!</a>

                        <div class="create-topic-btn-container">
                            <hr />
                            <button
                                type="button"
                                class="btn-create-topic"
                                (click)="createNewTopic()"
                            >
                                <img src="../assets/icon - criar.png" alt="" />
                                criar novo tópico
                            </button>
                        </div>
                    </div>
                    <div class="topic-showcase">
                        <div class="topic-card" *ngIf="stage === topicStage.created" id="topic-card-created">
                            <div class="topic-blur-content">
                                <img src="../assets/created.png" alt="">
                                <p>Aguardando feedback dos autores</p>
                                <a href="">Editar tópico</a>
                            </div>
                            <div class="topic-blur-override">

                            </div>
                            <div class="topic-card-header">
                                <h3>Assunto da pergunta aparece aqui</h3>
                                <p>Carlos Henrique Santos</p>
                            </div>

                            <p class="topic-card-body">
                                    Comecinho da pergunta aparece aqui resente
                                    relato inscreve-se no campo da análise da
                                    dimensão e impacto de processo formativo
                                    situado impacto de processo formativo
                                    processo...
                            </p>

                            <div class="topic-card-options">
                                    <img src="../assets/info.png" alt="" />
                                    <img src="../assets/favoritar.png" alt="" />
                                <span>1 like</span>
                                <span>1 resposta</span>
                            </div>
                        </div>
                        <div class="topic-card">
                            <div class="topic-card-header">
                                <h3>Assunto da pergunta aparece aqui</h3>
                                <p>Carlos Henrique Santos</p>
                            </div>

                            <p>
                                Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...
                            </p>

                            <div class="topic-card-options">
                                <img src="../assets/info.png" alt="">
                                <img src="../assets/favoritar.png" alt="">
                                <span>1 like</span>
                                <span>1 resposta</span>
                            </div>
                        </div>
                        <div class="topic-card">
                            <div class="topic-card-header">
                                <h3>Assunto da pergunta aparece aqui</h3>
                                <p>Carlos Henrique Santos</p>
                            </div>

                            <p>
                                Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo...
                            </p>

                            <div class="topic-card-options">
                                <img src="../assets/info.png" alt="">
                                <img src="../assets/favoritar.png" alt="">
                                <span>1 like</span>
                                <span>1 resposta</span>
                                    <p class="answered-topic-content">
                                        Resposta do autor é aqui. Relato
                                        inscreve-se no campo da análise da
                                        dimensão e impacto de processo formativo
                                        situado impacto de processo formativo
                                        processo resente relato inscreve-se no
                                        campo da análise da dimensão e impacto
                                        de processo formativo situado impacto de
                                        processo formativo processo.
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <img src="../assets/imagem - footer.png" alt="Logo Galoá" />

            <p>
                <b>
                    Presservar a momória do evento e ampliar o acesso ao
                    conhecimento científico gerado
                </b>
                em eventos é a razão de ser da plataforma Galoá Proceedings.
                <br /><br />
                Os trabalhos publicados aqui têm maior alcance e ficam
                disponíveis para toda a comunidade científica, mantendo aceso o
                debate científico fomentado pelos encontros e aumentando o
                impacto do evento.
            </p>
        </footer>
    </div>
</div>
